In [6]:
from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LassoCV, BayesianRidge
import statsmodels.formula.api as sm
import matplotlib.pylab as plt

import dmba
from dmba import regressionSummary, exhaustive_search
from dmba import backward_elimination, forward_selection, stepwise_selection
from dmba import adjusted_r2_score, AIC_score, BIC_score

%matplotlib inline

In [ ]:
car_df = dmba.load_data('ToyotaCorolla.csv')

In [8]:
car_df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [10]:
selected_columns = ['Price', 'Age_08_04', 'KM', 'Fuel_Type', 'HP', 'Automatic', 'Doors',
                    'Quarterly_Tax', 'Mfr_Guarantee', 'Guarantee_Period', 'Airco',
                    'Automatic_airco', 'CD_Player', 'Powered_Windows', 'Sport_Model',
                    'Tow_Bar'
                    ]

data = car_df[selected_columns]

print(data.head())

   Price  Age_08_04     KM Fuel_Type  HP  Automatic  Doors  Quarterly_Tax  \
0  13500         23  46986    Diesel  90          0      3            210
1  13750         23  72937    Diesel  90          0      3            210
2  13950         24  41711    Diesel  90          0      3            210
3  14950         26  48000    Diesel  90          0      3            210
4  13750         30  38500    Diesel  90          0      3            210

   Mfr_Guarantee  Guarantee_Period  Airco  Automatic_airco  CD_Player  \
0              0                 3      0                0          0
1              0                 3      1                0          1
2              1                 3      0                0          0
3              1                 3      0                0          0
4              1                 3      1                0          0

   Powered_Windows  Sport_Model  Tow_Bar
0                1            0        0
1                0            0        0
2                0            0        0
3                0            0        0
4                1            0        0

In [11]:
data = pd.get_dummies(data, drop_first=True)
print (data.columns)

Index(['Price', 'Age_08_04', 'KM', 'HP', 'Automatic', 'Doors', 'Quarterly_Tax',
       'Mfr_Guarantee', 'Guarantee_Period', 'Airco', 'Automatic_airco',
       'CD_Player', 'Powered_Windows', 'Sport_Model', 'Tow_Bar',
       'Fuel_Type_Diesel', 'Fuel_Type_Petrol'],
      dtype='object')